In [1216]:
import urllib2
import requests
import bs4
import pandas as pd
from bs4 import BeautifulSoup

In [1217]:
#LINK = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l="

#page_start_from = '&start='       
#df = pd.DataFrame()      
 
#for city in ('New+York%2C+NY', 'Chicago%2C+IL', 'San+Francisco%2C+CA', 'Austin%2C+TX',
#            "Atlanta%2C+GA", "Los+Angeles%2C+CA", "Washington%2C+DC" ):
#    for page in range(1,21): 
#        page = (page-1) * 10  
#        url = "%s%s%s%d" % (LINK, city, page_start_from, page) 
#        r = requests.get(url)
#        soup = BeautifulSoup(r.content) 
#        results = soup.find_all("div", {'class' : ' row result'}) 
    
#        for i in range(len(results)):
#            title    = results[i].find ("a", {"class": "turnstileLink"}).get_text().strip()
#            company  = results[i].find ("span", {"class": "company"}).get_text().strip()
#            location = results[i].find ("span", {"class": "location"}).get_text().strip()
#            summary  = results[i].find ("span", {"class": "summary"}).get_text().strip()        
        
#            df = df.append({"Company Name": company, "Job Title": title, "Location": location,
#                            "Job Summary": summary}, ignore_index=True)

#df.head()

In [1218]:
#def justCity(var):
#    varsplitted = var.split(",")
#    newList = varsplitted[0]
#    return newList
#finalVar = [justCity(x) for x in df["Location"].tolist()]
#df["Location"] = finalVar

#df["Salary"] = "L"
#df.head()

#df = df[(df.Location == 'New York') | (df.Location == 'Chicago') | (df.Location == 'San Francisco') | 
#        (df.Location == 'Austin') | (df.Location == "Atlanta") | (df.Location == "Los Angeles") | 
#        (df.Location == "Washington")]

In [1219]:
#df.shape

In [1220]:
#df.drop_duplicates(["Company Name", "Job Summary", "Job Title", "Location"], keep='last', inplace=True)

In [1221]:
#df.shape

In [1222]:
#URL = "http://www.indeed.com/jobs?q=data+scientist+%24120%2C000&l="

#page_start_from = '&start='      
#df2 = pd.DataFrame()   
 
#for city in ('New+York%2C+NY', 'Chicago%2C+IL', 'San+Francisco%2C+CA', 'Austin%2C+TX',
#            "Atlanta%2C+GA", "Los+Angeles%2C+CA", "Washington%2C+DC" ):
#    for page in range(1,21): 
#        page = (page-1) * 10  
#        url = "%s%s%s%d" % (URL, city, page_start_from, page) 
#        r = requests.get(url)
#        soup = BeautifulSoup(r.content) 
#        results = soup.find_all("div", {'class' : ' row result'}) 
    
#        for i in range(len(results)):
#            title    = results[i].find ("a", {"class": "turnstileLink"}).get_text().strip()
#            company  = results[i].find ("span", {"class": "company"}).get_text().strip()
#            location = results[i].find ("span", {"class": "location"}).get_text().strip()
#            summary  = results[i].find ("span", {"class": "summary"}).get_text().strip()        
        
#            df2 = df2.append({"Company Name": company, "Job Title": title, "Location": location,
#                            "Job Summary": summary}, ignore_index=True)

#df2.head()

In [1223]:
#def justCity(var):
#    varsplitted = var.split(",")
#    newList = varsplitted[0]
#    return newList
#finalVar = [justCity(x) for x in df2["Location"].tolist()]
#df2["Location"] = finalVar

#df2["Salary"] = "H"
#df2 = df2[(df2.Location == 'New York') | (df2.Location == 'Chicago') | (df2.Location == 'San Francisco') | 
#          (df2.Location == 'Austin') | (df2.Location == "Atlanta") | (df2.Location == "Los Angeles") | 
#          (df2.Location == "Washington")]
#df2

In [1224]:
#df2.shape

In [1225]:
#df2.drop_duplicates(["Company Name", "Job Summary", "Job Title", "Location"], inplace=True)

In [1226]:
#df2.shape

In [1227]:
#mergedDF = [df, df2]
#newDF = pd.concat(mergedDF)
#newDF

In [1228]:
#newDF.shape

In [1229]:
#newDF.drop_duplicates(["Company Name", "Job Summary", "Job Title", "Location"], keep='last', inplace=True)

In [1230]:
#newDF.shape

In [1231]:
#newDF.index = range(len(newDF))
#newDF.head()

In [1232]:
#print newDF[ (newDF["Salary"] == "H")].shape
#print newDF[ (newDF["Salary"] == "L")].shape

In [1233]:
#newDF.to_csv("../Assets/indeedSalaryJobs.csv", encoding='utf-8', index=False)

In [1234]:
data = pd.read_csv("../Assets/indeedSalaryJobs.csv")

In [1235]:
data.head()

,Company Name,Job Summary,Job Title,Location,Salary
0,S&P Global Ratings,Research and resolve data maintenance requests related to Corporate & Government and Structured Finance ratings data....,Statistician,New York,L
1,Bloomberg,Bloomberg's Global Data division houses an incredible team of data oriented professionals who work to solve tangible business challenges....,Machine Learning Engineer,New York,L
2,AllianceBernstein,"Job Number: 7473 Position Title: VP/Research Analyst Location_formattedLocationLong: New York, New York US External Description: Research is the",Research Analyst,New York,L
3,Bloomberg,"Evaluate cutting-edge big data technologies/software (e.g. Strong Computer Science fundamentals (algorithms, data structures)....",Senior Data Engineer for Search and Discoverability Team,New York,L
4,eTemp,"High growth company focused on using data science to transform the way individuals are hired, is looking for an inventive, collaborative, methodologically...",Mid - Senior Level Data Scientist,New York,L

In [1236]:
data["Salary"] = data["Salary"].map({"H": 1, "L": 0})

In [1237]:
pd.crosstab(data["Salary"], data["Location"], rownames = ["Salary"])

Location,Atlanta,Austin,Chicago,Los Angeles,New York,San Francisco,Washington
Salary,,,,,,,
0,119,138,128,68,117,88,77
1,34,31,78,26,172,131,37

In [1238]:
dummyData = pd.get_dummies(data["Location"])
newData = data[["Salary", "Company Name", "Job Summary", "Job Title", "Location"]].join(dummyData)
newData.head()

,Salary,Company Name,Job Summary,Job Title,Location,Atlanta,Austin,Chicago,Los Angeles,New York,San Francisco,Washington
0,0,S&P Global Ratings,Research and resolve data maintenance requests related to Corporate & Government and Structured Finance ratings data....,Statistician,New York,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0,Bloomberg,Bloomberg's Global Data division houses an incredible team of data oriented professionals who work to solve tangible business challenges....,Machine Learning Engineer,New York,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0,AllianceBernstein,"Job Number: 7473 Position Title: VP/Research Analyst Location_formattedLocationLong: New York, New York US External Description: Research is the",Research Analyst,New York,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0,Bloomberg,"Evaluate cutting-edge big data technologies/software (e.g. Strong Computer Science fundamentals (algorithms, data structures)....",Senior Data Engineer for Search and Discoverability Team,New York,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0,eTemp,"High growth company focused on using data science to transform the way individuals are hired, is looking for an inventive, collaborative, methodologically...",Mid - Senior Level Data Scientist,New York,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [1256]:
newData.shape

(1244, 13)

In [1260]:
newData["Intercept"] = 1.0
X = newData[ newData.columns[5:9] + newData.columns[10:] ]
y = newData.Salary


#data_target   = newData["Salary"]
#data_features = newData[["Atlanta", "Austin", "Chicago", "Los Angeles", 
                         #"New York", "Washington", "Intercept"]]

      Atlanta  Austin  Chicago  Intercept  Los Angeles  San Francisco  \
0         0.0     0.0      0.0        1.0          0.0            0.0
1         0.0     0.0      0.0        1.0          0.0            0.0
2         0.0     0.0      0.0        1.0          0.0            0.0
3         0.0     0.0      0.0        1.0          0.0            0.0
4         0.0     0.0      0.0        1.0          0.0            0.0
5         0.0     0.0      0.0        1.0          0.0            0.0
6         0.0     0.0      0.0        1.0          0.0            0.0
7         0.0     0.0      0.0        1.0          0.0            0.0
8         0.0     0.0      0.0        1.0          0.0            0.0
9         0.0     0.0      0.0        1.0          0.0            0.0
10        0.0     0.0      0.0        1.0          0.0            0.0
11        0.0     0.0      0.0        1.0          0.0            0.0
12        0.0     0.0      0.0        1.0          0.0            0.0
13        0.0     0.0      0.0        1.0          0.0            0.0
14        0.0     0.0      0.0        1.0          0.0            0.0
15        0.0     0.0      0.0        1.0          0.0            0.0
16        0.0     0.0      0.0        1.0          0.0            0.0
17        0.0     0.0      0.0        1.0          0.0            0.0
18        0.0     0.0      0.0        1.0          0.0            0.0
19        0.0     0.0      0.0        1.0          0.0            0.0
20        0.0     0.0      0.0        1.0          0.0            0.0
21        0.0     0.0      0.0        1.0          0.0            0.0
22        0.0     0.0      0.0        1.0          0.0            0.0
23        0.0     0.0      0.0        1.0          0.0            0.0
24        0.0     0.0      0.0        1.0          0.0            0.0
25        0.0     0.0      0.0        1.0          0.0            0.0
26        0.0     0.0      0.0        1.0          0.0            0.0
27        0.0     0.0      0.0        1.0          0.0            0.0
28        0.0     0.0      0.0        1.0          0.0            0.0
29        0.0     0.0      0.0        1.0          0.0            0.0
...       ...     ...      ...        ...          ...            ...
1214      0.0     0.0      0.0        1.0          0.0            0.0
1215      0.0     0.0      0.0        1.0          0.0            0.0
1216      0.0     0.0      0.0        1.0          0.0            0.0
1217      0.0     0.0      0.0        1.0          0.0            0.0
1218      0.0     0.0      0.0        1.0          0.0            0.0
1219      0.0     0.0      0.0        1.0          0.0            0.0
1220      0.0     0.0      0.0        1.0          0.0            0.0
1221      0.0     0.0      0.0        1.0          0.0            0.0
1222      0.0     0.0      0.0        1.0          0.0            0.0
1223      0.0     0.0      0.0        1.0          0.0            0.0
1224      0.0     0.0      0.0        1.0          0.0            0.0
1225      0.0     0.0      0.0        1.0          0.0            0.0
1226      0.0     0.0      0.0        1.0          0.0            0.0
1227      0.0     0.0      0.0        1.0          0.0            0.0
1228      0.0     0.0      0.0        1.0          0.0            0.0
1229      0.0     0.0      0.0        1.0          0.0            0.0
1230      0.0     0.0      0.0        1.0          0.0            0.0
1231      0.0     0.0      0.0        1.0          0.0            0.0
1232      0.0     0.0      0.0        1.0          0.0            0.0
1233      0.0     0.0      0.0        1.0          0.0            0.0
1234      0.0     0.0      0.0        1.0          0.0            0.0
1235      0.0     0.0      0.0        1.0          0.0            0.0
1236      0.0     0.0      0.0        1.0          0.0            0.0
1237      0.0     0.0      0.0        1.0          0.0            0.0
1238      0.0     0.0      0.0        1.0          0.0            0.0
1239      0.0     0.0      0.0        1.0          0.0            0.0
1240      0.0     0.0      0.0        1.0          0.0            0.0
1241      0.0     0.0      0.0        1.0          0.0            0.0
1242      0.0     0.0      0.0        1.0          0.0            0.0
1243      0.0     0.0      0.0        1.0          0.0            0.0

      Washington
0            0.0
1            0.0
2            0.0
3            0.0
4            0.0
5            0.0
6            0.0
7            0.0
8            0.0
9            0.0
10           0.0
11           0.0
12           0.0
13           0.0
14           0.0
15           0.0
16           0.0
17           0.0
18           0.0
19           0.0
20           0.0
21           0.0
22           0.0
23           0.0
24           0.0
25           0.0
26           0.0
27           0.0
28           0.0
29           0.0
...          ...
1214         1.0
1215         1.0
1216         1.0
1217         1.0
1218         1.0
1219         1.0
1220         1.0
1221         1.0
1222         1.0
1223         1.0
1224         1.0
1225         1.0
1226         1.0
1227         1.0
1228         1.0
1229         1.0
1230         1.0
1231         1.0
1232         1.0
1233         1.0
1234         1.0
1235         1.0
1236         1.0
1237         1.0
1238         1.0
1239         1.0
1240         1.0
1241         1.0
1242         1.0
1243         1.0

[1244 rows x 7 columns]

/Users/Lola/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: using '+' to provide set union with Indexes is deprecated, use '|' or .union()
  from ipykernel import kernelapp as app

In [1261]:
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
import statsmodels.api as sm
from sklearn.metrics import confusion_matrix

In [1262]:
logit = sm.Logit(y, X)
result = logit.fit()
result.summary()

Optimization terminated successfully.
         Current function value: 0.617467
         Iterations 5

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                 Salary   No. Observations:                 1244
Model:                          Logit   Df Residuals:                     1237
Method:                           MLE   Df Model:                            6
Date:                Thu, 30 Jun 2016   Pseudo R-squ.:                 0.08733
Time:                        17:57:22   Log-Likelihood:                -768.13
converged:                       True   LL-Null:                       -841.63
                                        LLR p-value:                 3.324e-29
=================================================================================
                    coef    std err          z      P>|z|      [95.0% Conf. Int.]
---------------------------------------------------------------------------------
Atlanta          -1.6381      0.228     -7.171      0.000        -2.086    -1.190
Austin           -1.8786      0.232     -8.094      0.000        -2.333    -1.424
Chicago          -0.8806      0.187     -4.708      0.000        -1.247    -0.514
Intercept         0.3853      0.120      3.215      0.001         0.150     0.620
Los Angeles      -1.3467      0.260     -5.182      0.000        -1.856    -0.837
San Francisco     0.0125      0.183      0.069      0.945        -0.345     0.371
Washington       -1.1182      0.233     -4.795      0.000        -1.575    -0.661
=================================================================================
"""

In [1263]:
confInt = result.conf_int()
confInt["Coef"] = result.params
confInt.columns = ["2.5%", "97.5%", "Coef"]
np.exp(confInt)

                   2.5%     97.5%      Coef
Atlanta        0.124210  0.304104  0.194352
Austin         0.096958  0.240821  0.152806
Chicago        0.287283  0.598100  0.414517
Intercept      1.162350  1.859295  1.470085
Los Angeles    0.156288  0.432830  0.260089
San Francisco  0.707914  1.448476  1.012619
Washington     0.206958  0.516244  0.326865

In [1267]:
X["actualSalary"] = y
dFrame = X
dFrame.head()
dFrame['predictedSalary'] = result.predict( dFrame[ dFrame.columns[0:7] ] )
dFrame.head()

/Users/Lola/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/Lola/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Atlanta,Austin,Chicago,Intercept,Los Angeles,San Francisco,Washington,actualSalary,predictedSalary
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0,0.595156
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0,0.595156
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0,0.595156
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0,0.595156
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0,0.595156

In [1269]:
abc = dFrame["predictedSalary"]
cutoff = 0.5
dFrame["approxPredict"] = [0 if i < cutoff else 1 for i in abc]
dFrame.head()

/Users/Lola/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

,Atlanta,Austin,Chicago,Intercept,Los Angeles,San Francisco,Washington,actualSalary,predictedSalary,approxPredict
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0,0.595156,1
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0,0.595156,1
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0,0.595156,1
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0,0.595156,1
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0,0.595156,1

In [1270]:
print pd.crosstab(
                    dFrame["actualSalary"],
                    dFrame["approxPredict"], 
                    rownames=["actual"]
                 )

approxPredict    0    1
actual
0              530  205
1              206  303

In [1265]:
newData["Intercept"] = 1.0
X = newData[ newData.columns[5:9] + newData.columns[10:] ]
y = newData.Salary

/Users/Lola/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: using '+' to provide set union with Indexes is deprecated, use '|' or .union()
  from ipykernel import kernelapp as app

In [1246]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.70, random_state=15)

logit = sm.Logit(y_train, X_train)
result = logit.fit()
result.summary()

Optimization terminated successfully.
         Current function value: 0.607238
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                 Salary   No. Observations:                  870
Model:                          Logit   Df Residuals:                      863
Method:                           MLE   Df Model:                            6
Date:                Thu, 30 Jun 2016   Pseudo R-squ.:                 0.09516
Time:                        17:55:32   Log-Likelihood:                -528.30
converged:                       True   LL-Null:                       -583.86
                                        LLR p-value:                 1.185e-21
=================================================================================
                    coef    std err          z      P>|z|      [95.0% Conf. Int.]
---------------------------------------------------------------------------------
Atlanta          -1.9557      0.296     -6.615      0.000        -2.535    -1.376
Austin           -1.7212      0.274     -6.276      0.000        -2.259    -1.184
Chicago          -0.8734      0.227     -3.856      0.000        -1.317    -0.429
Intercept         0.3028      0.146      2.080      0.038         0.017     0.588
Los Angeles      -1.1295      0.299     -3.772      0.000        -1.716    -0.543
San Francisco     0.1402      0.219      0.639      0.523        -0.290     0.570
Washington       -1.1137      0.285     -3.904      0.000        -1.673    -0.555
=================================================================================
"""

In [1247]:
confInt = result.conf_int()
confInt["Coef"] = result.params
confInt.columns = ["2.5%", "97.5%", "Coef"]
np.exp(confInt)

                   2.5%     97.5%      Coef
Atlanta        0.079249  0.252509  0.141461
Austin         0.104486  0.306147  0.178853
Chicago        0.267858  0.650890  0.417548
Intercept      1.017560  1.800769  1.353659
Los Angeles    0.179720  0.581221  0.323198
San Francisco  0.748437  1.768537  1.150495
Washington     0.187703  0.574310  0.328328

In [1248]:
X_test["actualSalary"] = y_test
dfTrain = X_test
#dfTrain.head()
dfTrain['predictedSalary'] = result.predict( dfTrain[ dfTrain.columns[0:7] ] )
dfTrain.head()

/Users/Lola/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/Lola/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Atlanta,Austin,Chicago,Intercept,Los Angeles,San Francisco,Washington,actualSalary,predictedSalary
917,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1,0.361111
77,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0,0.575130
408,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0,0.194915
94,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0,0.575130
1187,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1,0.304348

In [1249]:
xyz = dfTrain["predictedSalary"]
cutoff = 0.5
dfTrain["approxPredict"] = [0 if i < cutoff else 1 for i in xyz]
dfTrain.head()

/Users/Lola/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

,Atlanta,Austin,Chicago,Intercept,Los Angeles,San Francisco,Washington,actualSalary,predictedSalary,approxPredict
917,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1,0.361111,0
77,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0,0.575130,1
408,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0,0.194915,0
94,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0,0.575130,1
1187,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1,0.304348,0

In [1250]:
print pd.crosstab(
                    dfTrain["actualSalary"],
                    dfTrain["approxPredict"], 
                    rownames=["actual"]
                 )

approxPredict    0   1
actual
0              147  62
1               68  97

In [1251]:
from sklearn.metrics import confusion_matrix
confusion_matrix(dfTrain["actualSalary"], dfTrain["approxPredict"])

array([[147,  62],
       [ 68,  97]])

In [1252]:
from sklearn import linear_model
#import matplotlib.pyplot as plt
lm = linear_model.LogisticRegression()

result = lm.fit(X,y)
predictions = lm.predict(X)
print "Score:",result.score(X,y)

Score: 0.66961414791

In [1253]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import cross_validation
import numpy as np

In [1254]:
knn = KNeighborsClassifier(n_neighbors=3,
                           weights="uniform",
                           p=2,
                           metric="minkowski")



cv_indices = cross_validation.StratifiedKFold(y, n_folds=3)

def accuracy_crossvalidator(X, y, knn, cv_indices):
    scores = []
    for train_i, test_i in cv_indices:
        X_train = X[train_i, :]
        X_test = X[test_i, :]

        y_train = y[train_i]
        y_test = y[test_i]

        knn.fit(X_train, y_train)
        
        acc = knn.score(X_test, y_test)
        scores.append(acc)
        pred = knn.predict_proba(X_test)
        
        print('Fold accuracy:', acc)
        print pred
    print('Mean CV accuracy:', np.mean(scores))

In [1255]:
accuracy_crossvalidator(X, y, knn, cv_indices)

TypeError: unhashable type: 'numpy.ndarray'

In [ ]:
def binTitle(title):
    jobtitle  = title.lower()
    #for i in newData["Job Title"]:
        #print 
    if ("machine learning" in jobtitle):
        return 0
    if ("data engineer" in jobtitle):
        return 1
    if ("quantitative analyst" in jobtitle):
        return 2
    if ("software" in jobtitle)|("engineer" in jobtitle)|("developer" in jobtitle):
        return 3
    if ("research analyst" in jobtitle):
        return 4
    if ("data scientist" in jobtitle):
        return 5
    if ("data analyst" in jobtitle):
        return 6
    if ("scientist" in jobtitle):
        return 7
    if ("manager" in jobtitle):
        return 8
    if ("director" in jobtitle):
        return 9
    if ("architect" in jobtitle):
        return 10
    else:
        return 11
newData["titleBin"] = newData["Job Title"].apply(binTitle)
dummyData = pd.get_dummies(newData["titleBin"], prefix="Title")
newData
newData2 = newData[ ["Salary", "Company Name", "Job Summary", "Job Title", 
                     "Atlanta", "Austin", "Chicago", "Los Angeles", "San Francisco", 
                     "Washington", "Intercept"] ].join(dummyData)
newData2.head()
#otherList = []
#for i in newData["titleBin"].tolist():
    #if i == 2:
     #   otherList.append(i)
#print len(otherList)/float(len(newData))

In [1271]:
newData2

,Salary,Company Name,Job Summary,Job Title,Atlanta,Austin,Chicago,Los Angeles,San Francisco,Washington,...,Title_2,Title_3,Title_4,Title_5,Title_6,Title_7,Title_8,Title_9,Title_10,Title_11
0,0,S&P Global Ratings,Research and resolve data maintenance requests related to Corporate & Government and Structured Finance ratings data....,Statistician,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0,Bloomberg,Bloomberg's Global Data division houses an incredible team of data oriented professionals who work to solve tangible business challenges....,Machine Learning Engineer,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,AllianceBernstein,"Job Number: 7473 Position Title: VP/Research Analyst Location_formattedLocationLong: New York, New York US External Description: Research is the",Research Analyst,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,Bloomberg,"Evaluate cutting-edge big data technologies/software (e.g. Strong Computer Science fundamentals (algorithms, data structures)....",Senior Data Engineer for Search and Discoverability Team,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,eTemp,"High growth company focused on using data science to transform the way individuals are hired, is looking for an inventive, collaborative, methodologically...",Mid - Senior Level Data Scientist,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0,MLB Advanced Media,"Undergraduate (Bachelors) degree with (3) years of experience in data research, predictive modeling, statistical analysis, data transformation and / or other...",Senior Statistical Analyst,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
6,0,NBCUniversal,"Strong analytical skills, able to analyze qualitative and quantitative data with client needs in mind. Analyze and interpret ratings data across the NBC Owned...",Research Analyst,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0,IPG Mediabrands,Present findings and back up recommendations with hard data. Brainstorm new ways of utilizing data to determine valuable business insights....,"Reprise - Statistical Analyst, SEO",0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
8,0,Samsung Accelerator,"Solid foundation in data structures, algorithms, distributed systems and software design. Who We Are Looking For:....",Machine Learning Engineer,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0,"Two Sigma Investments, LLC.","Analysts, Data Scientists, Traders, and Quantitative Software Engineers. Actively collecting, interpreting, and distributing useful market data and intelligence...","Recruiter, Quant Research & Trading",0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10,0,Columbia University,"The lab, integrates the full spectrum of computational and experimental approaches and techniques, with specific focus on high-throughput data generation....",Associate Research Scientist,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
11,0,The Nielsen Company,Able to synthesize data & simplify findings by creating reports through charts/graphs. Assist and network with industry leading clients to simplify their data...,Research Analyst,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0,Xaxis,"Xaxis combines proprietary technology, unique data assets and exclusive media relationships with the brightest team of audience analysts, data scientists and...","Analyst, Automated Trading",0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
13,0,DISH Network,A successful Data Scientist will have the following:. Developing critical analytics using key DISH data sources including the viewer measurement data and...,Data Scientist,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0,"Two Sigma Investments, LLC.","Developing trading strategies, from idea generation and data collection to analysis and model creation;...",Quantitative Research Associate,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
15,0,New York University College of Dentistry,"JUNIOR RESEARCH SCIENTIST*. Uses computers for word processing, data acquisition and statistical analysis....",JUNIOR RESEARCH SCIENTIST McDevitt Research Laboratory,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
16,0,JPMorgan Chase,"Data Scientist - New York, NY. This includes a balance of marketing/campaign optimization, data wrangling and data science....","Digital Marketing Sr. Data Scientist - New York, NY",0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0,Mount Sinai Health System,The data collection process. For data collection and analysis. Reliable data for entry into the Program. Website and assuring the transmission of completed data...,QUALITY IMPROVEMENT RESEARCH ANALYST,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,0,KUONI,"Ability to aggregate data and format in a visually presentable way in MS Excel, Powerpoint, Word. Generate reports from GTA databases (Atlas, Sales Force,...",Quantitative Business Analyst,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
19,0,1199SEIU Family of Funds,Prepare data requests and reports. Manage and review payroll postings to ensure they are entered accurately and efficiently....,Research Analyst,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,0,Mount Sinai Health System,Collects and records study data. Ensures accurate and complete compilation of subject data through chart reviews....,CLINICAL RESEARCH ASSISTANT I,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
21,0,Memorial Sloan Kettering,Interact with team members and individuals across MSK regarding data input. You are comfortable with or interested in working with and organizing large amounts...,Research Study Assistant I,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
22,0,NBCUniversal,"He/she will work with cross functionally in the planning, creation and communication of trends and insights through data analysis and storytelling....","Senior Analyst, Strategic Research & Insights",0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
23,0,Voya Financial,Proactively uncover and resolve data and calculation issues. Maintain and expand the internal data warehouse from which the analytics are generated....,Quantitative Analyst,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,0,Cardiovascular Research Foundation,"Develops query designs, standard tables for the presentation of data, analyses of data and reports as requested....",Clinical SAS Statistical Programmer Contract,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
25,0,Spotify,"You have experience with a range of data science techniques including clustering, machine learning, and network analysis....",Research Lead / Data Scientist,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
26,0,Facebook,"Machine learning, recommendation systems, pattern recognition, data mining or artificial intelligence. The position will involve taking these skills and...","Software Engineer, Machine Learning",0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,0,Xaxis,"Xaxis combines proprietary technology, unique data assets and exclusive media relationships with the brightest team of audience analysts, data scientists and...","Analyst, Strategy and Investment",0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
28,0,Squarespace,Experience with a large scale data processing tools such as Apache Spark. Squarespace has access to incredibly rich data sources of both content creation and...,Software Engineer - Machine Learning,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,0,Enigma,We value data scientists who can quickly implement elegant solutions to complex problems. As a Senior Data Scientist with the Analytics group your contributions...,Senior Data Scientist,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1214,1,BRMi,"Data governance, data architecture, data engineering, data operations, data mining, and data analysis services....",Data Scientist,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1215,1,TechINT Solutions Group,"TSG\_0004 Data Scientist Mid & Sr. Develop, validate, and implement data models to solve problems/answer questions....",Data Scientist,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1216,1,Booz Allen Hamilton,"Experience in the application of data science and advanced data analytics, including structured, unstructured, or relational and data mining and machine...",Chief Data Scientist,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1217,1,Booz Allen Hamilton,"Experience with machine learning, data mining, clustering, algorithm development, or statistical analysis....","Data Scientist, Senior",0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1218,1,CACI International Inc,"As Data Scientist, you will be responsible for data analytics support, from understanding and evaluating customer requirements to development of advanced data...",Data Scientist Job,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1219,1,IBM,"Data and technology are transforming industries, society and even the workplaceby creating professions that didnt exist before the emergence of data, cloud,...",Cybersecurity Data Scientist,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1220,1,The Advisory Board Company,"Data Scientist, Engineering *LI. Experience with data warehousing, data pipeline management, and/or Hadoop development....","Data Scientist, Engineering",0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1221,1,Department Of Education,Strong research methods and data analytic skills; (4) analyze data and synthesize information from education research and related areas;...,"Senior Education Research Scientist/Analyst, AD-1730-00",0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1222,1,Selby Jennings,Senior Data Scientist. An award-winning advertising company in the DC area is looking for several Senior Data Scientists to join their team....,Senior Data Scientist,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1223,1,GEICO,"Lead Data Scientist. You will coordinate project teams of Data Scientists and act as a primary point of contact in delivering innovative, high-quality data...",Lead Data Scientist,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1224,1,Department Of Veterans Affairs,"Scientists to serve on peer review committees; Data, and presents results through presentations and/or publications....",Health Science Officer,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1225,1,Department Of The Interior,"The Fish and Wildlife Service employs world-class scientists and other professionals who are also addressing climate change, the greatest environmental and...",Senior Executive Service - Assistant Director for Science Ap...,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1226,1,Department Of Homeland Security,"Cross-reference USCIS data, create data product for use by agency data. Providing tools and support for analysis of data while overseeing OIT's data....",IT PROGRAM MANAGER,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1227,1,xentity corporation,"Experience in data lifecycle including program planning, various data acquisition techniques including remote sensing, surveying, and partnering, familiar with...",Government Enterprise Architect,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1228,1,McGraw Hill Financial,"The division is ahighly skilled team of data scientists, statisticians, methodologists and psychologists. They will also conduct statistical analysis to support...","Program Director, Government",0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1229,1,Department Of Energy,"Develop budgets and creates resource plans to manage ongoing operations, develop and improve data publications and produce analytic studies....",Interdisciplinary Supervisory Economist/Operations Research...,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1230,1,Metabiota,"Interface significantly with onshore and offshore engineering teams, modelers and data scientists. You will interface with customers and other product leaders...",Product Manager/Senior Product Manager,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1231,1,Department Of Commerce,"Or in the social sciences including demography, history, economics, social welfare, geography, international relations, social or cultural anthropology, health...","Survey Statistician, GG-1530-14, Census-DE-AC",0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1232,1,xentity corporation,"We are a fast-growing data consulting and support services firm. Up to date on new architecture patterns (ROA, Semantic, Big Data), software frameworks, new...",Independent Consultant - Government Solution Architect,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1233,1,Thermopylae Sciences + Technology,"Senior Data Scientist / Software Engineer (TS/SCI). Includes statistical analyses, data visualization, data mining, and data cleansing/transformation....",Senior Data Scientist/Software Engineer,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1234,1,Nuclear Threat Initiative,"The organization works with presidents and prime ministers, scientists and technicians, educators and students, and people from around the world....",Chief Financial Officer,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1235,1,Civis Analytics,"Thorough understanding of data analytics. Civis Analytics is a technology company full of data scientists and coders, yet fully understands the importance of...","Business Development Executive, Politics and Advocacy",0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1236,1,American Chemical Society,Comprehensive understanding of applicable practices and laws relating to data privacy and protection. Ensures alignment among technology groups and business...,Chief Information Security Officer,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1237,1,Macropace Technologies,"Work with our Data Scientists and Engineers to create new datasets, experiments and technology. You will know where all the data goes, and who to call if the...","DevOps Engineer - Washington, DC",0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1238,1,The Advisory Board Company,"Whether through best practice research, data analytics, technology, or consulting services, our 650+ researchers, consultants, engineers, and data scientists...","Product Manager, New Product Development",0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1239,1,Socrata,"Too often, this data is inaccessible and only useful if youre a database administrator, or a data scientist. Must have experience in and a passion for helping...",Senior Program Manager,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1240,1,Strategic IT Staffing,"Doing all this with an exceptional group of software engineers, data scientists, dev-ops engineers and managers....",Senior DevOps Engineer,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1241,1,ReliaSource,"Includes statistical analyses, data visualization, data mining, and data cleansing / transformation. In Big data paradigms....",Senior Data Scientist / Software Engineer 4 (TS SCI CI Poly),0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1242,1,Department Of Commerce,"Provide guidance and advice for various methodological issues such as disclosure avoidance, data editing, and missing data....",Supvy Interdisciplinary Mathematical Statistician/Survey Sta...,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1243,1,Jefferson Science Associates,"The international user community includes over 1,500 scientists over half of whom are actively involved in the Labs experimental program....",Director for the Thomas Jefferson National Accelerator Facil...,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0